h6{
    color: white;
    text-align: center;
}
strong {
    color: #2EAA94;
}

p{
    color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact{
  margin-top: 30px;
}
.ContactMe{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}
.startsec {
    background: #66CDAA;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



nav {
    padding-left: 110px;
     height: 100px;
     padding-right: 80px;
     }
 
 .start{
     color:white;
     font-size: 25px;
     font-weight: bold;
     text-decoration: none;
 }
 
 .nav {
     font-weight: bold;
     font-size: 16px;
     text
 }
h6{
    color: white;
    text-align: center;
}
strong {
    color: #2EAA94;
}

p{
    color: white;
}
  
