.container{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(3, 177, 162);
}

h2{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #about{
      background-color: rgb(3, 177, 162);
  }